[x-cloak] {
    display: none;
}
.calendar-container {
    height: 700px;
    overflow-y: auto;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
}

#calendar-grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#calendar-grid > div {
    width: calc(100% / 7); /* Ancho de cada celda para que haya 7 celdas por fila */
    height: 100px; /* Altura fija de cada celda */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
    display: flex;
    align-items: flex-start; /* Asegura que el contenido de la celda comience desde la parte superior */
}

#calendar-grid .event-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Altura fija del evento */
    background-color: var(--event-color, blue); /* Usa una variable CSS para el color del evento */
    color: white;
    border-radius: 3px;
    margin-top: 5px; /* Espacio entre el borde superior de la celda y el evento */
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 4rem;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    background: linear-gradient(140deg, #0f293ee6, #0f293e);
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar:hover {
    width: 9rem;
}

.expand-text {
    opacity: 0;
    margin-left: 0.2rem;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
}

.sidebar:hover .expand-text {
    opacity: 1;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.4rem 0rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.sidebar-item img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.sidebar-item:hover {
    background-color: #c0c0ce;
    transform: scale(0.95);
}

.sidebar-item:hover img {
    transform: scale(1.1);
}

.sidebar-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
}

.sidebar h5 {
    text-align: center;
    color: rgb(250, 250, 250);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.drawer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    width: 100%;
}



.card2 {

    padding: 20px;
    background: linear-gradient(90deg, #00274C, #1E90FF);
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
