body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 4rem;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
    background: linear-gradient(140deg, #0f293ee6, #0f293e);
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar:hover {
    width: 9rem;
}

.expand-text {
    opacity: 0;
    margin-left: 0.2rem;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out;
}

.sidebar:hover .expand-text {
    opacity: 1;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.4rem 0rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.sidebar-item img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.sidebar-item:hover {
    background-color: #c0c0ce;
    transform: scale(0.95);
}

.sidebar-item:hover img {
    transform: scale(1.1);
}

.sidebar-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
}

.sidebar h5 {
    text-align: center;
    color: rgb(250, 250, 250);
    margin-bottom: 1rem;
    font-size: 1rem;
}

.drawer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    width: 100%;
}

.calendar-container {
    height: 1000px;
    overflow-y: auto;
    padding-left: 8rem;
    padding-top: 0rem; /* Espacio en la parte superior */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

#calendar-grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
    box-sizing: border-box;
}

#calendar-grid > div {
    width: calc(100% / 7); /* Ancho de cada celda para que haya 7 celdas por fila */
    height: calc((100% - 1rem) / 5); /* Altura calculada para llenar el contenedor */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los números en la parte superior */
    padding: 0.5rem;
    border: 1px solid #ddd; /* Añade un borde para que se vean claramente las celdas */
}

#calendar-grid .event-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Altura fija del evento */
    background-color: var(--event-color, blue); /* Usa una variable CSS para el color del evento */
    color: white;
    border-radius: 3px;
    margin-top: 10px; /* Espacio entre el borde superior de la celda y el evento */
}

#calendar-grid div {
    text-align: center;
    font-size: 0.9rem;
    color: #333; /* Color de los números del calendario */
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

#character-count {
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}

#note-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

#note-modal .bg-white {
    max-width: 500px;
}
